<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SimpleEcoreToHTML.SimpleEcoreToHTMLPackage" genModel="model/SimpleEcoreToHTML.genmodel" uri="platform:/plugin/SimpleEcoreToHTML/model/SimpleEcoreToHTML.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SimpleEcoreToHTML.Rules.RulesPackage" genModel="model/SimpleEcoreToHTML.genmodel" uri="platform:/plugin/SimpleEcoreToHTML/model/SimpleEcoreToHTML.ecore#//Rules"/>
  </extension>
</plugin>
