<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="BooleanStatementNodes.BooleanStatementNodesPackage" genModel="model/BooleanStatementNodes.genmodel" uri="platform:/plugin/BooleanStatementNodes/model/BooleanStatementNodes.ecore"/>
  </extension>
</plugin>
