/bin
/gen/*
/model/*.ecore
/model/*.genmodel
/model/*.xmi
!/**/.keep*

/**/*Lexer.java
/**/*Parser.java
/**/*Lexer.tokens
/**/*Parser.tokens
/**/*Grammar.java
/**/*Grammar.tokens

/src/org/moflon/tie/
