<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="ProcessCodeAdapter.ProcessCodeAdapterPackage" genModel="model/ProcessCodeAdapter.genmodel" uri="platform:/plugin/ProcessCodeAdapter/model/ProcessCodeAdapter.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="ProcessCodeAdapter.Rules.RulesPackage" genModel="model/ProcessCodeAdapter.genmodel" uri="platform:/plugin/ProcessCodeAdapter/model/ProcessCodeAdapter.ecore#//Rules"/>
  </extension>
</plugin>
