<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="FolksonomyCodeAdapter.FolksonomyCodeAdapterPackage" genModel="model/FolksonomyCodeAdapter.genmodel" uri="platform:/plugin/FolksonomyCodeAdapter/model/FolksonomyCodeAdapter.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="FolksonomyCodeAdapter.Rules.RulesPackage" genModel="model/FolksonomyCodeAdapter.genmodel" uri="platform:/plugin/FolksonomyCodeAdapter/model/FolksonomyCodeAdapter.ecore#//Rules"/>
  </extension>
</plugin>
