<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="LibraryToBibliographyIntegrationCSP.LibraryToBibliographyIntegrationCSPPackage" genModel="model/LibraryToBibliographyIntegrationCSP.genmodel" uri="platform:/plugin/LibraryToBibliographyIntegrationCSP/model/LibraryToBibliographyIntegrationCSP.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="LibraryToBibliographyIntegrationCSP.Rules.RulesPackage" genModel="model/LibraryToBibliographyIntegrationCSP.genmodel" uri="platform:/plugin/LibraryToBibliographyIntegrationCSP/model/LibraryToBibliographyIntegrationCSP.ecore#//Rules"/>
  </extension>
</plugin>
