<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="CDDSWithNACs.CDDSWithNACsPackage" genModel="model/CDDSWithNACs.genmodel" uri="platform:/plugin/CDDSWithNACs/model/CDDSWithNACs.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="CDDSWithNACs.Rules.RulesPackage" genModel="model/CDDSWithNACs.genmodel" uri="platform:/plugin/CDDSWithNACs/model/CDDSWithNACs.ecore#//Rules"/>
  </extension>
</plugin>
