<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="BlockDiagramCodeAdapter.BlockDiagramCodeAdapterPackage" genModel="model/BlockDiagramCodeAdapter.genmodel" uri="platform:/plugin/BlockDiagramCodeAdapter/model/BlockDiagramCodeAdapter.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="BlockDiagramCodeAdapter.Rules.RulesPackage" genModel="model/BlockDiagramCodeAdapter.genmodel" uri="platform:/plugin/BlockDiagramCodeAdapter/model/BlockDiagramCodeAdapter.ecore#//Rules"/>
  </extension>
</plugin>
